<ion-header>
  <ion-navbar >
    <ion-title>
      Ionic Chat App ( {{ce.me.state.full}} )
    </ion-title>
  </ion-navbar>
  <ion-item no-lines>
    <ion-avatar item-start *ngFor="let user of getUsers(ce.chat.users)">
       <img src="{{user.state.avatar}}"><h3 align="center">{{user.state.first}}</h3>
    </ion-avatar>
  </ion-item>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let msg of messages">
      <ion-grid *ngIf="msg.isSelf">
      	<ion-row>
	    	<ion-col>
	    	   <div style="float:right; text-align: right">
			      <h2>{{msg.sender.state.first}} <span class="time-display">{{msg.rcvdTime}}</span></h2>
			      <p>{{msg.data.text}} </p>
		  		</div>
		  	</ion-col>
		  	<ion-col col-auto>
		      <ion-avatar style="float:right;">
		        <img src='{{msg.sender.state.avatar}}'>
		      </ion-avatar>
	    	</ion-col>
	  	</ion-row>
      </ion-grid>
      <ion-grid *ngIf="!msg.isSelf">
      	<ion-row>
	    	<ion-col col-auto>
		      <ion-avatar>
		        <img src='{{msg.sender.state.avatar}}'>
		      </ion-avatar>
	    	</ion-col>
	    	<ion-col>
	    	   <div>
			      <h2>{{msg.sender.state.first}} <span class="time-display">{{msg.rcvdTime}}</span></h2>
			      <p>{{msg.data.text}} </p>
		  		</div>
		  	</ion-col>
		</ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <input type="text" class="form-control" placeholder="Your Messages..." [(ngModel)]="message" (keyup.enter)="send()">
    <ion-buttons right>
        <button (click)="send()" ion-button icon-only item-right class="send-chat-button">
             <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
